/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
    transition: 3s;
}

ul,
li {
    list-style-type: none;
    transition: 3s;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img,
.hebergements__block img {
    display: block;
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/*******   Header  **************/
.header,
.header__list {
    display: flex;
    justify-content: space-between;
}

.header img {
    width: 62px;
    height: 19px;
    padding: 30px 0;
}

.header__list {
    display: flex;
    margin-top: -8px;
    gap: 0 68px;
}

.header__link {
    display: flex;
    align-items: flex-end;
    height: 40px;
    border: 2px;
    transition: 0.1s ease;
}

.header__link:hover {
    color: #0065FC;
    border-top: solid;
    border-color: var(--main-color);
}

/*******  Recherche and Filters  ***********/
.Rechercher-and-Filters {
    padding-top: 30px;
}

.Resercher__title {
    margin: 0;
}

.Resercher__text {
    margin-top: 8px;
}

.Resercher__form {
    position: relative;
    margin: 35px 0;
    max-width: 377px;
}

.Resercher__icon {
    position: absolute;
    background-color: var(--main-bg-color);
    padding: 13px 18px;
    border-radius: 15px 0 0 15px;
    font-size: 20px;
    left: 0px;
    top: 0%;
}

.fa-location-dot {
    color: #000000;
}

.Resercher__input {
    padding: 14px 0px 14px 55px;
    border-top: 1px solid rgba(242, 242, 242, 1);
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(242, 242, 242, 1);
    background: var(--main-white-color);
    outline: none;
    font-size: 18px;
    font-weight: 700;
}

.Resercher-mobile {
    display: none;
    align-items: center;
    gap: 10px;
    height: 49px;
    padding: 19px 14px;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid var(--blue, #0065FC);
    background: var(--blue, #0065FC);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: var(--main-white-color);
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.Resercher__btn {
    position: absolute;
    display: inline-block;
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    padding: 14px 16px;
    border-radius: 0 10px 10px 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    left: 248px;
    color: var(--main-bg-color);
    cursor: pointer;
    transition: 3s;
}

.Resercher__btn:hover {
    background-color: rgb(48, 50, 194);
}

.fa-magnifying-glass {
    color: var(--main-bg-color);
}

/* ******* Filtres *********** */
.Filters,
.filters-wrapper {
    display: flex;
    align-items: center;
}

.Filters {
    margin-right: 20px;
}

.filters-wrapper {
    gap: 0 15px;
}

.Filters h3 {
    margin: 0 15px 0 0;

}

.Filter__item {
    position: relative;
    border: 2px solid #D9D9D9;
    white-space: nowrap;
    border-radius: 25px;
    padding: 15px 19px 15px 51px;
    font-size: 17px;
}

.Filter__item:hover {
    background-color: var(--filter-bg-color);
}


.Filter__item::after {
    content: url(../images/Filters/Icon.svg);
    position: absolute;
    display: inline-block;
    background-repeat: no-repeat;
    width: 22px;
    height: 16px;
    left: 20px;
    top: 27%;
}

.Filter__item:nth-child(3):after {
    content: url(../images/Filters/Icon\ \(1\).svg);
}

.Filter__item:nth-child(4):after {
    content: url(../images/Filters/Icon\ \(2\).svg);
}

.Filter__item:last-child:after {
    content: url(../images/Filters/Icon\ \(3\).svg);
}

.filter-info {
    display: flex;
    position: relative;
    margin: 35px 0;
}

.filter-info::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    left: -10px;
    top: -5px;
    background-color: #fff;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    margin-left: 12px;
}

.filter-info i {
    color: #0065FC;
    font-size: 14px;
    margin-left: 12px;
    z-index: 90;
}

.Filter__text {
    margin: 0;
    padding-left: 24px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements h2 {
    margin-bottom: 30px;
}

.hebergements__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 30px;
}

.hebergements-content {
    width: 83%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements__block {
    width: 30%;
    background-color: #fff;
    box-shadow: 0px 3px 15px 0px #0000001A;
    border-radius: 20px;
    box-sizing: border-box;
}

.hebergements__block img {
    width: 96%;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
    padding: 4px 4px 0 4px;
}

.hebergements__block h3 {
    margin: 0;
    padding: 4px 15px 8px 15px;
}

.hebergements__block p {
    margin: 0;
    padding: 0 15px 8px 15px;
}

.hebergements__icons {
    padding: 0 0 8px 15px;
}

.hebergements__link h3 {
    display: inline;
}

.hebergements__link:hover {
    color: var(--main-color);
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/********  Activites  ********/

.activites {
    margin-bottom: 35px;
}

.activites h2 {
    padding: 45px 0 10px 30px;
}

.activites__blocks {
    display: flex;
    justify-content: center;
    gap: 0 30px;
}

.activites__block {
    width: 297px;
    background-color: #fff;
    box-shadow: 0px 3px 15px 0px #0000001A;
    border-radius: 20px;
    align-items: center;
    box-sizing: border-box;
}

.activites__block img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.activites__block h4 {
    padding-left: 19px;
}

/*********  footer  *********/
.footer {
    background-color: var(--main-bg-color);
}

.footer__nav {
    display: flex;
    justify-content: center;
}

.footer__list {
    width: 33%;
    margin-bottom: 5px;
    padding-left: 20px;
}

.footer__item_active {
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;
}

.footer__list a li {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
}

.footer__list li {
    margin-bottom: 15px;
}

.footer__list a li:hover {
    color: var(--main-color);
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    /* header */
    /* Rechercher-and-Filters */
    .Filters {
        display: block;
        margin-top: 30px;
        box-sizing: border-box;
        width: 87%;
        font-size: 100%;
    }

    .filters-wrapper {
        display: flex;
        gap: 15px;
        margin-top: 15px;
        margin-right: 15px;
    }

    .Filter__item {
        display: inline-block;
        margin: 0 5px 10px;
    }

    .Filter__item {
        display: flex;
        width: 50%;
        min-width: 80px;
        max-width: 130px;
        margin: 0 5px 10px;
    }

    .Filter__item h3 {
        font-size: 14px;
    }

    /* hebergements-and-populaires */
    /* hebergements */
    .hebergements__block {
        width: 250px;
    }

    /* populaires */
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 20px;
    }

    /* activites */
    .activites {
        margin-bottom: 35px;
    }

    .activites h2 {
        padding: 45px 0 10px 27px;
    }

    .activites__blocks {
        gap: 0 30px;
    }

    .activites__block {
        width: 200px;
        height: 270px;
    }

    .activites__block img {
        width: 100%;
        height: 200px;
    }

    .activites__block h4 {
        margin: 10px 0;
        font-size: 10px;
    }

    /* footer */
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
    .main-container {
        padding: 0;
        margin-left: 20px;
    }
   /* header */
   .header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__logo {
    margin: 0 auto;
}

.header__list {
    display: flex;
    width: 120%;
    justify-content: center;
    text-align: center;
    gap: 0;
    font-size: 18px;
}

.header__link {
    display: flex;
    justify-content: center;
    width: 50%;
    border-bottom: 2px solid transparent;
    padding-bottom: 12px;
    overflow-x: hidden;
}

.header__link:hover {
    border-top: none;
}

    /* Rechercher-and-Filters */
    .Rechercher-and-Filters {
        padding-top: 40px;
    }

    .Resercher__form {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        max-width: none;
        width: 93%;

    }

    .Resercher-mobile {
        display: inline-flex;
    }

    .Resercher__input {
        font-size: 15px;
        flex-grow: 1;
        width: 79%;
        padding-right: 0;

        max-width: none;
        min-width: 130px;
    }

    .Resercher__btn {
        display: none;
    }
    /* Filters */
    .Filters {
        margin-right: 0;
        width: 100%;
    }

    .filters-wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .Filter__item {
        flex: 23%;
        min-width: none;
        max-width: none;
    }

    .Filter__item h3 {
        font-size: 15px;
    }

    .filter-info::before {
        left: -6px;
        top: -3px;
    }

    .filter-info i {
        padding-top: 2px;
        padding-left: 4px;
    }

    /* populaires */
    .populaires {
        margin: 0 auto 30px auto;
        background-color: var(--main-bg-color);
    }

    .section-title {
        margin: 10px 0 0 10px;
    }

    .populaires-title {
        margin-bottom: -15px;
    }

    .fa-chart-line {
        margin: 5px 10px 0 0;
    }

    .hebergements-and-populaires section {
        padding: 5px;
    }
    .populaires-cards {
        display: inline-block;
        flex-direction: column;
        width: 100%;
    }

    .card {
        width: 98.2%;
        height: 146px;
    }

    .card-content {
        width: 100%;
    }

    /* hebergements */
    .hebergements-and-populaires .hebergements {
        background-color: transparent;
    }

    .hebergements {
        order: 1;
        background-color: none;
    }

    .hebergements__blocks {
        flex-wrap: nowrap;
        flex-direction: column;
        gap: 20px 0;
        margin-top: 34px;
    }

    .hebergements__block {
        width: 99.7%;
        margin-bottom: 30px;
    }
    .hebergements__block:last-child {
        margin-bottom: 15px;
    }

    .hebergements__inner {
        display: block;
        margin-bottom: 0;
    }

    .hebergements__block img {
        width: 100%;
        height: 124px;
        padding: 0;
    }

    .hebergements__link h3 {

    }

    /* activites */
    .activites h2 {
        padding: 65px 10px 30px 10px;
        margin: 0;
    }

    .activites__blocks {
        flex-direction: column;
        gap: 20px 0;
    }

    .activites__block {
        width: 99%;
        height: 200px;
    }

    .activites__block img {
        width: 100%;
        height: 141px;
    }

    .activites__block h4 {
        font-size: 15px;
    }

    /* footer */
    .footer__nav {
        flex-direction: column;
        padding-top: 20px;
    }

    .footer__list {
        margin-bottom: 30px;
        width: auto;
    }

    .footer__item_active {
        font-size: 20px;
        font-weight: 600;
    }

    .footer__list a li {
        font-size: 18px;
        font-weight: 300;
    }
}